{% extends 'layout.html' %}
{% block content %}

{% if not sents and not called%}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h3 class="text-left mb-4">Please load the test files here</h3>
            {{ dropzone.create(action='views.upload') }}
        </div>
    </div>
    <form class="form-horizontal" role="form" id="searchForm"
          name="searchForm" method="post" enctype="multipart/form-data">
        <button type="submit" class="btn u-btn-primary btn-xl" id="submit">
            <span class="h3">
                <i class="fas fa-search" aria-hidden="true"></i>
                Process
            </span>
        </button>
    </form>

</div>
{% endif %}

{% if results %}
<div class="container">
    <div class="col-12">
        <div class="media g-mb-15">

            <div class="d-flex align-self-center mr-4">
              <span class="u-icon-v2 u-icon-size--lg g-brd-3 g-brd-primary g-color-black g-rounded-50x g-mb-25 ">
                      <i class="g-font-style-normal">{{ global_metrics['num_files'] }}</i>
              </span>
            </div>
            <div class="media-body align-self-center mb-2">
              <h1 class="h1 g-color-black mb-2">Test files were analyzed </h1>
            </div>
        </div>
        <div class="media g-mb-15">
          <div class="media-body align-self-center mb-2">
            <h1 class="h3 g-color-black mb-2">Overall Precision: <span class="g-font-style-normal g-color-orange"><b>{{global_metrics['metrics']['precision']|round(2)}}</b></span> </h1>
          </div>

          <div class="media-body align-self-center mb-2">
            <h1 class="h3 g-color-black mb-2">Overall Recall: <span class="g-font-style-normal g-color-orange"><b>{{global_metrics['metrics']['recall']|round(2)}}</b></span> </h1>
          </div>

          <div class="media-body align-self-center mb-2">
            <h1 class="h3 g-color-black mb-2">Overall F1: <span class="g-font-style-normal g-color-orange"><b>{{global_metrics['metrics']['f1']|round(2)}}</b></span> </h1>
          </div>
        </div>
    </div>
</div>

<div class="container">
        <div class="card">
                {% for result in results %}
                    <div class="col-6 g-mb-10 g-ml-0 g-pl-0">
                    <article class="text-left g-bg-white">
                        <!-- Article Content -->
                        <div class="u-shadow-v24 g-pa-30">
                            <!-- Article Info -->
                            <h3 class="h4 g-mb-10 text-left g-font-weight-600">
                                {{files[loop.index-1]}}
                            </h3>
                            <hr>
                            <h3 class="h5 g-mb-10 text-left g-line-height-1_6 g-font-size-15">
                                <span>
                                    <span class="g-color-blue font-weight-bold">Results:</span>
                                </span>
                                <br>

                            </h3>

                            <h3 class="h5 g-color-black g-line-height-1_6 g-font-size-15">Precision: <span class="g-font-style-normal g-color-orange"><b>{{result['metrics']['precision']|round(2)}}</b></span> </h3>
                            <h3 class="h5 g-color-black g-line-height-1_6 g-font-size-15">Recall: <span class="g-font-style-normal g-color-orange"><b>{{result['metrics']['recall']|round(2)}}</b></span> </h3>
                            <h3 class="h5 g-color-black g-line-height-1_6 g-font-size-15">F1: <span class="g-font-style-normal g-color-orange"><b>{{result['metrics']['f1']|round(2)}}</b></span></h3>
                            <hr>
                            <h3 class="h5 g-mb-10 text-left g-line-height-1_6 g-font-size-15">
                                <span>
                                    <span class="g-color-blue font-weight-bold">False Positives:</span>
                                </span>
                                <br>

                            </h3>
                            {% for fp in result['spans']['fp'] %}
                              ({{fp.text}}, {{fp.start_idx + 1}} - {{fp.end_idx + 1}})
                            {%endfor%}
                            <hr>
                            <h3 class="h5 g-mb-10 text-left g-line-height-1_6 g-font-size-15">
                                <span>
                                    <span class="g-color-blue font-weight-bold">False Negatives:</span>
                                </span>
                                <br>

                            </h3>
                            {% for fn in result['spans']['fn'] %}
                              ({{fn.text}}, {{fn.start_idx}} - {{fn.end_idx}})
                            {%endfor%}
                            <hr>

                            <h3 class="h5 g-mb-10 text-left g-line-height-1_6 g-font-size-15">
                                <span>
                                    <span class="g-color-blue font-weight-bold">Text:</span>
                                </span>
                                <br>

                            </h3>
                            <p>
                                {{result['text']}}
                            </p>

                            <!-- End Article Info -->
                        </div>
                        <!-- End Article Content -->
                    </article>
                    <!-- End Article -->
                    </div>
                {%endfor%}
        </div>
</div>


{% endif %}

{% endblock %}
